.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #e4e4e4;
  border-radius: 16px;
  margin-bottom: 42px;
  padding: 5px 25px;
}
.header {
  width: 100%;
}
.header input {
  width: 100%;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}
.profile img {
  width: 46px;
  height: 46px;
  border-radius: 50%;
}
.divider {
  width: 1px;
  height: 40px;
  background-color: #e4e4e4;
  margin: 0 10px;
}
.searchIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}
.searchContainer {
  position: relative;
  flex: 1;
  margin-right: 20px;
}
.searchInput {
  width: 100%;
  padding: 10px 40px 10px 30px;
  border: none;
  outline: none;
  box-sizing: border-box;
}
.profileName {
  font-weight: 400;
  font-size: 1rem;
  line-height: 25px;
}
.role {
  font-weight: 300;
  font-size: 0.8rem;
  line-height: 22px;
}
